.viewArtist {
    width: 240px;
    overflow: hidden;
    transition-duration: 0.3s;
    cursor: pointer;
    text-align: initial;

    &:hover {
        box-shadow: 4px 3px 11px 6px rgba(255, 29, 29, 0.46);
        transform: translateY(-3px);
    }
}

.artists {
    display: flex;
    text-align: center;
}

@media (max-width: 575.98px) {
    .artists {
        display: initial;
    }

    .card-body-styling {
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    }
}