<div class="container-fluid">

    <div class="d-flex flex-row align-items-center">

        <div class="bg-light p-2 mb-3">
            <button type="button" class="btn btn-outline-dark" (click)="backToSearch()">Back To Search</button>
        </div>

        <div class="d-flex d-md-none">
            <img src="../../../assets/placeholder.jpg" alt="Profile Picture" class="rounded-circle"
                style="width: 36px; height: 36px; margin-left: 10px;" />
        </div>
        <div class="d-none d-md-flex">
            <img src="../../../assets/placeholder.jpg" alt="Profile Picture" class="mb-4 rounded-circle"
                style="width: 60px; height: 60px; margin-left: 8px;" />
        </div>
        <div class="bg-light p-2 mb-3 flex-grow-1">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                    aria-describedby="button-addon2" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="card">
                <div class="col-md-12 d-flex flex-row">
                    <div class="col-md-8 col-xs-12 p-2">
                        <div class="card">
                            <img *ngIf="artistDetails" src=" {{ artistDetails.picture_big }}" alt="Artist Cover" />
                            <p *ngIf="!artistDetails">No Image Available</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 p-2">
                        <h4 class="mb-3">Top tracks</h4> 
                        <ng-container *ngFor="let chart of charts; let i = index">
                            <p>{{ i }}. {{ chart.title_short }}</p>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col-md-12">
                <h3 class="mb-3">Albums</h3> 
                <div class="artists">
                    <ng-container *ngFor="let album of albums">
                        <div class="card-body card-body-styling">
                            <div class="viewArtist">
                                <img *ngIf="album.cover_medium" src="{{ album.cover_medium }}" alt="Album Cover"/>
                                <p *ngIf="!album.cover_medium">No Image Available</p>
                                <p class="p-2 name">
                                    {{ artistDetails.name }}
                                    <br />
                                    {{ album.release_date | date: 'yyyy' }}
                                </p>
                            </div>
                        </div>
                    </ng-container>
                </div>    
            </div>
        </div>
    </div>
</div>